<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.formakers.fomes">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".FomesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/FomesTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_noti"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <!-- 백그라운드 앱의 알림 수신 -->
        <service android:name=".common.noti.MessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".common.job.SendDataJobService"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <!-- Fomes -->
        <activity android:name=".provisioning.view.LoginActivity"
            android:theme="@style/FomesTheme.NoActionBar"/>
        <activity android:name=".provisioning.view.ProvisioningActivity"
            android:theme="@style/ProvisioningTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".analysis.view.RecentAnalysisReportActivity"
            android:theme="@style/FomesTheme.NoActionBar"/>
        <activity android:name=".main.view.MainActivity"
            android:theme="@style/FomesTheme.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsActivity"/>
        <activity android:name=".wishList.view.WishListActivity"/>
        <activity android:name=".main.view.EventDetailActivity"/>
        <activity android:name=".common.view.NoticeMigrationActivity"
            android:theme="@style/FomesTheme.NoActionBar"/>
    </application>

</manifest>