<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appbee.appbeemobile">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppBeeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service android:name=".service.PowerConnectedService" />
        <!-- 백그라운드 앱의 알림 수신 -->
        <service android:name=".service.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- 등록토큰의 생성, 순환 업데이트 처리 -->
        <service android:name=".service.InstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.OnboardingActivity">
            <intent-filter>
             <action android:name="android.intent.action.VIEW"/>
             <action android:name="android.intent.action.MAIN"/>
             <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"/>
    </application>

</manifest>