<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.formakers.fomes">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AppBeeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBeeNoActionBarTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/noti_icon"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/appbee_yellow" />

        <!-- 백그라운드 앱의 알림 수신 -->
        <service android:name=".service.MessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- 등록토큰의 생성, 순환 업데이트 처리 -->
        <service android:name=".service.MessagingTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".common.job.SendDataJobService"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <activity android:name=".activity.OnboardingActivity"/>
        <activity android:name=".activity.OnboardingAnalysisActivity"/>
        <activity android:name=".activity.CodeVerificationActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.PermissionGuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoadingActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="">
        </activity>
        <activity android:name=".activity.ProjectDetailActivity" />
        <activity android:name=".activity.InterviewDetailActivity" />
        <activity android:name=".activity.MyInterviewActivity" />
        <activity android:name=".activity.CancelInterviewActivity" />
        <activity android:name=".activity.MyAppUsageActivity" />
        <activity android:name=".activity.ReportActivity" />
    </application>

</manifest>